 body {
          font-family: Arial, sans-serif;
          background-color: #f5f5dc;
          color: #333;
          margin: 0;
          padding: 20px;
        }
        .cour {
          text-align: center;
          color: blue;
          font-family: Courier, monospace;
          font-size: 2em;
        }
        b{
          color: rgb(7, 68, 128);
        }
        p{
          font-size: 1.2em;
          line-height: 1.5;
          margin-left: 20px;
        
        }
        .exp {
            background-color: #eee;
            padding: 10px;
            margin: 10px 0;
            border-left: 4px solid #ccc;
            font-family: monospace;
        }
	      .cmt{
	          color: #6A9955; 
            font-style: italic;
	      }
        .tbl_2{
          background-color: #eee;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          border-radius: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .tbl_2_h{
         
          text-align: center;
           background-color:#e8e4e4;
          font-weight: bold;
          width: 20%;
          font-size: 18px;
          padding: 10px;
          border-radius: 20px 0 0 0;
        }

        .tbl_2_2_h{
          text-align: center;
          background-color:#e8e4e4;
          font-weight: bold;
          width: 80%;
          font-size: 18px;
          padding: 10px;
          border-radius: 0 20px 0 0;
        }
        .tbl_2_2{
          
           background-color: #d8cdcd;
          text-align: center;
          width: 80%;
          padding: 10px;
       
         
        }
        .tbl_2_1{
        
          background-color:#e5d7d7;
          
          text-align: center;
          width: 20%;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
        }
        .tbl_2_2_d{
          background-color: #d8cdcd;
        
          text-align: center;
          width: 80%;
          padding: 10px;
          border-radius: 0 0 20px 0px;
         
        }
        .tbl_2_1_d{
         
          background-color:#e5d7d7;
          text-align: center;
          width: 20%;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          border-radius: 0px 0px 0 20px;
        }
        .hover{
          width: 90px;
          height: 90px;
          border: #333 solid 2px;
          background-color: #ccc;
          align-self: center;
          padding: 30px;
            margin-left: auto;
          margin-right: auto;
          margin-top: 4px;
        }
        .hover:hover {
          background-color: #be0ed5;
        }
        .exp_2{
          display: flex;
          flex-direction: row; 
          /* border: #be0ed5 solid 2px; */
          background-color: #eee;
            padding: 10px;
            margin: 10px 0;
            border-left: 4px solid #ccc;
            font-family: monospace;
        }
        .exp_2_1{
          flex:1;
          border-right: 3px solid #2a2727;
        }
        .exp_2_2{
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content:space-around;

        }
        .real_exp{
          position: relative;
          margin-left: 10px;
          padding-left: 10px;
          border: #0c010e dashed 2px;
          font-size: 15px;
        }
        .tbl_3{
          background-color: #eee;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          border-radius: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .tbl_3_1_h{
         
          text-align: center;
           background-color:#e8e4e4;
          font-weight: bold;
          width: 20%;
          font-size: 18px;
          padding: 10px;
          border-radius: 20px 0 0 0;
        }

        .tbl_3_3_h{
          text-align: center;
          background-color:#e8e4e4;
          font-weight: bold;
          width: 50%;
          font-size: 18px;
          padding: 10px;
          border-radius: 0 20px 0 0;
        }
         .tbl_3_2_h{
          text-align: center;
          background-color:#e8e4e4;
          font-weight: bold;
          width: 35%;
          font-size: 18px;
          padding: 10px;
        }
        .tbl_3_3{
          
           background-color: #d8cdcd;
          text-align: center;
          width: 50%;
          padding: 10px;
       
         
        }
        .tbl_3_1{
        
          background-color:#e5d7d7;
          
          text-align: center;
          width: 20%;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
        }
        .tbl_3_3_d{
          background-color: #d8cdcd;
        
          text-align: center;
          width: 50%;
          padding: 10px;
          border-radius: 0 0 20px 0px;
         
        }
        .tbl_3_1_d{
         
          background-color:#e5d7d7;
          text-align: center;
          width: 20%;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          border-radius: 0px 0px 0 20px;
        }
        .tbl_3_2{
        
          background-color:#e1d9d9;
          color: #065021;
          text-align: center;
          width: 20%;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          
        }
        .li_dt{
          padding:2px;
          color: #4c0655;
        }
        .lock-area{
          display: flex;
         
          width: 40%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 20px;
          padding: 0px;
        }
        .unlock-area{
          display: flex;
         
          width: 40%;
          margin-left: auto;
          margin-right: auto;
          /* border-radius: 20px; */
          padding: 0px;
        }
          .unlock-area > button {
          border: 2px solid #130f0f;
          background: transparent;
          color: #130f0f;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          cursor: pointer;
          font-size: 22px;
        }
       .lock-area > button{
        border: 2px solid #130f0f;
        background-image: url('../../src/lock.png');
          background-size: cover;
          background-position: center;
          color: #130f0f;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          cursor: pointer;
          
          font-size: 22px;
       }
       #buttonsContainer{
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        max-height: 80vh;
       }
      .plan_page {
        overflow: hidden ;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .profile-photo {
         position: relative;
         height: 180px;;          /* display: flex; */
          flex-direction: column;
          justify-content: center;
          margin-top: 10px;
          background-color: #f0f0f0;
          padding-top: 10px;
          border: 1px solid #d3cece;
          border-radius: 5px;
      }
      .profil {
          position: absolute;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          top: calc(50% - 75px);
          left: calc(50% - 75px);
          border: 2px solid #0dc651;
          z-index: 1;
      }
      body {
  font-family: 'Arial', sans-serif;
}

.custom-upload , [name="save_photo"],.info-item button {
  font-size: 12px;
  background-color: #2883f3;
  padding: 3px 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  color: white;

}
.custom-upload {
  background-color: #8ebaf8;
  top:calc(100% - 55px);
  left: calc(70% - 75px);
  position: absolute;
  z-index: 2;
}
.photo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #d3cece;

}
.info-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.info-item > * {
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
}
.profile-info2 {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #d3cece;
  justify-content: space-around;
}
.info-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0.5em;
}
.info-item3 {
  height: 50%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.profile{
  position: relative;
  top:-10px;
  padding-top: 10px;
  width: 50%;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0dbdb;
  border-radius: 10px;
  overflow-y:auto;
}
.p_child {
  margin-left: 1vw;
  font-size: 17px;
}


@media (min-width: 714px) {
  .profile {
    width: 45%;
  }}
@media (max-width: 713px) {
  .profile {
    width: 90%;
  }
}
@media(max-width: 1110px){
  .lock-area , .unlock-area  {
    width: 50%;
  }
  .lock-area > button, .unlock-area > button {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .lock-area , .unlock-area  {
    width: 60%;
  }
  .lock-area > button, .unlock-area > button {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
    .lock-area , .unlock-area  {
    width: 60%;
  }
  .lock-area > button, .unlock-area > button {
    font-size: 15px;
  }
}
@media (max-width: 400px) {

  .lock-area , .unlock-area  {
    width: 90%;
  }
  .lock-area > button, .unlock-area > button {
    font-size: 15px;
  }
}
